asn1crypto==0.23.0
awscli==1.11.151
beautifulsoup4==4.6.0
boto3==1.4.7
botocore==1.7.9
cachetools==2.0.1
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.7
cryptography==2.0.3
decorator==4.0.11
demjson==2.2.4
dill==0.2.7.1
docutils==0.14
Flask==0.12.2
Flask-Cors==3.0.3
future==0.16.0
google-auth==1.1.1
google-cloud-core==0.27.1
google-cloud-speech==0.29.0
google-gax==0.15.15
googleapis-common-protos==1.5.3
googlemaps==2.5.0
grpcio==1.4.0
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
nbformat==4.3.0
nflgame==1.2.20
numpy==1.12.1
olefile==0.44
Pillow==8.2.0
plotly==2.0.8
ply==3.8
protobuf==3.4.0
pymongo==3.5.1
pyasn1==0.3.7
pyasn1-modules==0.1.4
pycparser==2.18
pyOpenSSL==17.3.0
pyreadline==2.1
pysolr==3.6.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
SpeechRecognition==3.7.1
traitlets==4.3.2
urllib3==1.22
virtualenv==15.1.0
virtualenvwrapper-win==1.2.1
watson-developer-cloud==0.26.1
Werkzeug==0.12.2